/**
 * Custom flavour
 * ==============
 */
body {
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

.reveal .slides {
    z-index: 3;
}

.reveal.center, .reveal.center .slides, .reveal.center .slides section {
    min-height: 400px !important;
}

/**
 * Buzz lightyear
 * ==============
 */
.buzz {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    display: block;
    background: url('../img/buzz-medium.png') no-repeat;
    background-size: 20vw;
    width: 20vw;
    height: 100vh;
    position: fixed;

    left: -20vw;
    top: 100vh;

    animation-name: fly;
    animation-duration: 10s;
    animation-delay: 13s;
    animation-fill-mode: forwards;
}

.repeat-buzz .buzz {
    animation-iteration-count: infinite;
}


@keyframes fly {
    0%   {
        left: -20vw;
        top: 100vh;
    }
    50%  {
        left: -5vw;
        top: 50vh;
        background-size: 20vw;
    }
    100% {
        background-size: 0vw;
        left: 10vw;
        top: 0vh;
    }
}

/**
 * Remove all image styles
 * =======================
*/
.reveal section img.no-styles {
    margin: 0;
    background: inherit;
    border: none;
    box-shadow: none;
}

/**
 * About
 * =====
 */
section.about {
    position: relative;
}

section.about .hans {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 50px;
    bottom: 200px;

    background: url('../img/hans.png') no-repeat;
}

section.about .anthony {
    position: absolute;
    width: 128px;
    height: 128px;
    right: 50px;
    bottom: 200px;

    background: url('../img/anthony.png') no-repeat;
}

/**
 * Overview thumbs
 * ===============
 */
ul.thumbs li {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
}

ul.thumbs li h6 {
    font-size: 30px;
}

ul.thumbs li img {
    width: 180px;
    animation: planet-bounce 3s infinite;
    animation-direction: alternate;
}

ul.thumbs li:nth-child(1) img {
    animation-delay: 0.1s;
    animation-duration: 2s;
}

ul.thumbs li:nth-child(2) img {
    animation-delay: 0.4s;
    animation-duration: 3s;
}

ul.thumbs li:nth-child(3) img {
    animation-delay: 1s;
    animation-duration: 5s;
}

ul.thumbs li:nth-child(4) img {
    animation-delay: 0.3s;
    animation-duration: 3s;
}


@keyframes planet-bounce {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: rotate(359deg);
    }
}

/**
 * Landscape overrides
 * ===================
 */
html.earth-landscape .space {
    background: -webkit-linear-gradient(top, #152c3e, #37618a) !important;
}

html.earth-landscape .stars, html.earth-landscape .stars2, html.earth-landscape .stars3 {
    /*display: none;*/
}

/**
 * Mars
 * ====
 */
html.earth-landscape.mars-modifier #ground {
    background: #B5623F;
}

html.earth-landscape.mars-modifier .trees {
    visibility: hidden;
}

html.earth-landscape.mars-modifier #apex {
    visibility: hidden;
}

html.earth-landscape.mars-modifier #cloud1 {
    visibility: hidden;
}

html.earth-landscape.mars-modifier #cloud2 {
    visibility: hidden;
}

html.earth-landscape.mars-modifier #hills {
    visibility: hidden;
}

html.earth-landscape.mars-modifier #mountains {
    margin-bottom: -100px;
}

html.earth-landscape.mars-modifier #mountains2 {
    visibility: visible;
    transform: scale(0.2, 0.1);
    margin-bottom: -190px;
}

/**
 * Jupiter
 * =======
 */
html.earth-landscape.jupiter-modifier #ground {
    background: #867A6D;
}

html.earth-landscape.jupiter-modifier .trees {
    visibility: hidden;
}

html.earth-landscape.jupiter-modifier #apex {
    visibility: hidden;
}

html.earth-landscape.jupiter-modifier #cloud1 {
    visibility: hidden;
}

html.earth-landscape.jupiter-modifier #cloud2 {
    visibility: hidden;
}

html.earth-landscape.jupiter-modifier #hills {
    visibility: hidden;
}

html.earth-landscape.jupiter-modifier #mountains  {
    visibility: hidden;
}

html.earth-landscape.jupiter-modifier #mountains3  {
    visibility: visible;
}

html.earth-landscape.jupiter-modifier #mountains4  {
    margin-bottom: -100px;
}

html.earth-landscape.jupiter-modifier #mountains4 {
    visibility: visible;
    transform: scale(0.2, 0.1);
    margin-bottom: -190px;
}

html.earth-landscape.jupiter-modifier #mountains5 {
    visibility: visible;
}

/**
 * Text Effects
 * ============
 */
.text-shadow-small h1,
.text-shadow-small {
    text-shadow: #000 1px 1px 1px !important;
}

/**
 * Twitter Tweets
 * ==============
 */
.twitter-tweet {
    margin: 10px auto !important;
}

/**
 * Media Grid
 * ==========
 */
ul.media-grid {
    list-style: none !important;
}

ul.media-grid > li {
    float: left;
    width: 50%;
}

/**
 * Countdown
 * =========
 */
@font-face {
    font-family: "Digi";
    src: url(../fonts/digital.ttf);
}

#countdown {
    font-size: 100px;
    font-family: "Digi";
}

#countdown span {
    color: #ffff00;
    background: #202020;
    padding: 0px 20px 20px 20px;
}


