/*
* Custom flavour
* ==============
*/

body {
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

/*
* Buzz lightyear
* ==============
*/

.buzz {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    display: block;
    background: url('../img/buzz-medium.png') no-repeat;
    background-size: 20vw;
    width: 20vw;
    height: 100vh;
    position: fixed;

    left: -20vw;
    top: 100vh;

    animation-name: fly;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    /*animation-iteration-count: 3;*/
}


@keyframes fly {
    0%   {
        left: -20vw;
        top: 100vh;
    }
    50%  {
        left: -5vw;
        top: 50vh;
        background-size: 20vw;
    }
    100% {
        background-size: 0vw;
        left: 10vw;
        top: 0vh;
    }
}

/*
* Remove all image styles
* =======================
*/

.reveal section img.no-styles {
    margin: 0;
    background: inherit;
    border: none;
    box-shadow: none;
}

/*
* About
* =====
*/

section.about {
    position: relative;
}

section.about .hans {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 0;
    bottom: 0;

    background: url('../img/hans.png') no-repeat;
}

section.about .anthony {
    position: absolute;
    width: 128px;
    height: 128px;
    right: 0;
    bottom: 0;

    background: url('../img/anthony.png') no-repeat;
}

/*
* Overview thumbs
* ===============
*/

ul.thumbs li {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
}

ul.thumbs li h6 {
    font-size: 30px;
}

ul.thumbs li img {
    width: 180px;
    animation: planet-bounce 3s infinite;
    animation-direction: alternate;
}

@keyframes planet-bounce {
    from {
        transform: translateY(-12px);
    }
    to {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}

/*
* Landscape overrides
*/

html.earth-landscape .space {
    background: -webkit-linear-gradient(top, #152c3e, #37618a) !important;
}

html.earth-landscape .stars, html.earth-landscape .stars2, html.earth-landscape .stars3 {
    /*display: none;*/
}

html.earth-landscape.mars-modifier #ground {
    background: #B5623F;
}

html.earth-landscape.mars-modifier .trees {
    visibility: hidden;
}

html.earth-landscape.mars-modifier #apex {
    visibility: hidden;
}

html.earth-landscape.mars-modifier #cloud1 {
    visibility: hidden;
}

html.earth-landscape.mars-modifier #cloud2 {
    visibility: hidden;
}

html.earth-landscape.mars-modifier #hills {
    visibility: hidden;
}

html.earth-landscape.mars-modifier #mountains {
    margin-bottom: -100px;
}

html.earth-landscape.mars-modifier #mountains2 {
    visibility: visible;
    transform: scale(0.2, 0.1);
    margin-bottom: -190px;
}
