/*
* Custom flavour
*/

body {
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

/*
* Buzz lightyear
*/

.buzz {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    display: block;
    background: url('../img/buzz-medium.png') no-repeat;
    background-size: 20vw;
    width: 20vw;
    height: 100vh;
    position: fixed;

    left: -20vw;
    top: 100vh;

    animation-name: fly;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    /*animation-iteration-count: 3;*/
}


@keyframes fly {
    0%   {
        left: -20vw;
        top: 100vh;
    }
    50%  {
        left: -5vw;
        top: 50vh;
        background-size: 20vw;
    }
    100% {
        background-size: 0vw;
        left: 10vw;
        top: 0vh;
    }
}

/*
* Remove all image styles
*/

.reveal section img.no-styles {
    margin: 0;
    background: inherit;
    border: none;
    box-shadow: none;
}

/*
* Overview thumbs
*/

ul.thumbs li {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 200px;

    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;

    animation: bounce 20s infinite;
}

ul.thumbs li.earth {
    animation-delay: 3s;
    background-image: url(../img/earth.png);
}

ul.thumbs li.mars {
    animation-delay: 5s;
    background-image: url(../img/mars.png);
}

ul.thumbs li.jupiter {
    animation-delay: 0s;
    background-image: url(../img/jupiter.png);
}

ul.thumbs li.gamma {
    animation-delay: 10s;
    background-image: url(../img/gamma.png);
}

@keyframes bounce {
    0% {
        background-position: center center;
    }
    25% {
        background-position: center -1px;
    }
    50% {
        background-position: center center;
    }
    75% {
        background-position: center 1px;
    }
    100% {
        background-position: center center;
    }
}